# Tuples
- Tuple is a just like a immutable python objects.
- enclosed with a ()
- syntax: tuple = ()

In [1]:
# how to create tuple
tup = (10,20,30,"sana","sudha")
type(tup)

tuple

In [2]:
tup[2]

30

In [3]:
tup[1:4]

(20, 30, 'sana')

In [4]:
tup[:]

(10, 20, 30, 'sana', 'sudha')

In [5]:
tup[::-1]

('sudha', 'sana', 30, 20, 10)

In [8]:
# mutable
lst = [10,20,30]
lst[2]=40
lst

[10, 20, 40]

In [12]:
# immutable
print(tup)
tup[1]=40

(10, 20, 30, 'sana', 'sudha')

TypeError: 'tuple' object does not support item assignment

In [14]:
# Tuple methods
print(dir(tuple),end='')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [15]:
tup

(10, 20, 30, 'sana', 'sudha')

In [16]:
tup.count('sana')

1

In [17]:
tup.count(5)

0

In [18]:
tup.index("sudha")

4

In [19]:
tup.index(10)

0

In [21]:
type(tup)

tuple

In [22]:
list(tup)

[10, 20, 30, 'sana', 'sudha']

In [24]:
type(lst)

list

In [25]:
tuple(lst)

(10, 20, 40)

In [29]:
tp = ('p','y','t','h','o','n')
string = ''.join(tp)
print(string)
type(string)

python

str

In [ ]:
# program to print names in tuple using iterations

# sets

In [30]:
sets = {10,20,10,30,40,20}
sets

{10, 20, 30, 40}

In [31]:
# methods
# update
set1 = {'abc',123,12,123,'abc'}
set2 = {'green','yellow',125,150}
set1.update(set2)

In [32]:
set1

{12, 123, 125, 150, 'abc', 'green', 'yellow'}

In [36]:
set1 = {'abc',123,12,123}
set2 = {'green','yellow',125,150,'abc'}
set3 = set1.difference(set2) # set2-set1
print(set3)

{123, 12}

In [38]:
set1 = {'abc',123,12,123}
set2 = {'green','yellow',125,150,'abc'}
set1.difference_update(set2) # set2-set1
set1

{12, 123}

In [39]:
num1 = {1,2,3,4,5,6}
num2 = {2,4,8,9,1,7}
result = num1.intersection(num2)
print(result)

{1, 2, 4}

In [41]:
num1 = {1,2,3,4,5,6}
num2 = {2,4,8,9,1,7}
num1.intersection_update(num2)
num1

{1, 2, 4}

In [42]:
num1 = {1,2,3,4,5,6}
num1.discard(3)
num1

{1, 2, 4, 5, 6}

In [44]:
print(dir(sets),end='')

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [52]:
#isdisjoint-->returns True, whether two sets are intersection
colors = {'green','blue','white'}
games  = {'puzzle','sudoku','ludo'}
res1 = colors.isdisjoint(games)
print(res1)
#res2 = colors.isdisjoint(num1)
#print(res2)

True

In [63]:
values = {1,2,3}
val1 = {'a',1,'b',3,2}
val2 = {'a',1,'b',3}
res1 = values.issubset(val1)
print(res1)
res2 = values.issubset(val2)
print(res2)

True
False

In [72]:
values = {1,2,4,3}
val1 = {'a',1,'b',2,3}
val2 = {1,3,2}
res1 = values.issuperset(val1)
print(res1)
res2 = values.issuperset(val2)
print(res2)

False
True

In [59]:
colors = {'green','blue','white','ludo'}
games  = {'puzzle','sudoku','ludo','green'}
res1 = colors.symmetric_difference(games)
print(res1)

{'puzzle', 'white', 'sudoku', 'blue'}

In [60]:
colors = {'green','blue','white','ludo'}
games  = {'puzzle','sudoku','ludo','green'}
colors.symmetric_difference_update(games)
colors

{'blue', 'puzzle', 'sudoku', 'white'}

In [61]:
num1 = {1,2,3}
num2 = {4,5,2}
result = num1.union(num2)
result

{1, 2, 3, 4, 5}

In [73]:
set4=set2.copy()
set4

{125, 150, 'abc', 'green', 'yellow'}

In [74]:
val1=val2.copy()
val1

{1, 2, 3}