# Maps
- it produces a list of results that it apply given function to each 
  item of a given iterable(list,tuple,sets etc...)
- syntax : map(function,iterable)

In [1]:
def addition(n):
    return n + n
# 1+1=2, 2+2=4.....
result = list(map(addition, range(1,6)))
print(result)

[2, 4, 6, 8, 10]

In [3]:
def addition(n):
    return n + n
# 1+1=2, 2+2=4.....
result = tuple(map(addition, [1,2,3,4,5]))
print(result)

(2, 4, 6, 8, 10)

In [4]:
def addition(n):
    return n + n
# 1+1=2, 2+2=4.....
result = set(map(addition, range(1,5)))
print(result)

{8, 2, 4, 6}

In [8]:
def sqares(n):
    return n * n
res = set(map(sqares, range(1,5)))
print(res)

{16, 1, 4, 9}

In [11]:
def sqares(n):
    return n ** n
res = tuple(map(sqares, range(1,5)))
print(res)

(1, 4, 27, 256)

# filters
- filters function in python is used to check whether given element is boolean or not(T or F).
- This method filters given iterable, test each element is True or False, and returns the element which is True.
- syntax : f:x -->{T,F}

In [16]:
lst = [1,2,'a','b',3,'c']
def isDigit(c):
    c = str(c) #c='1'
    if c.isdigit():
        return True
    return False
isDigit('a')
list(filter(isDigit, lst))

[1, 2, 3]

In [14]:
print(dir(str),end='')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [27]:
def primes(n): 
    if n < 2:
        return False
    for i in range(2,n//2+1):
        #print(i)
        if n % i == 0:
            return False
    return True
primenums = list(filter(primes, range(3,100)))
print(primenums)

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [17]:
4//2

2

In [18]:
4/2

2.0

In [21]:
4%4

0

In [22]:
9/3

3.0

In [34]:
for i in range(2,5+1):
        print(i)

2
3
4
5

In [32]:
10//2

5

# Lambdas
- lambda is just a function without a name or anonymous function.
- syntax : lambda argument : expression
    - lambda x : x^3
- lambda takes 0 or more arguments but only one expression.

In [36]:
result = lambda x:x**3
result(4)

64

In [37]:
def cube(n):
    return n ** 3
result = lambda n:n**3
result(4)

64

In [38]:
list(map(lambda x:x**3, [1,2,3,4,5,6]))

[1, 8, 27, 64, 125, 216]

In [39]:
list(map(lambda x:x**3, range(1,6)))

[1, 8, 27, 64, 125]

In [40]:
even = lambda x : x%2 == 0
result = list(filter(even, range(20,40)))
print(result)

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [44]:
23%2

1

# list comprehension

In [51]:
list=[2,10,5,20,50]
numlist = []
for i in list:
    numlist.append(i)
print(numlist)

[2, 10, 5, 20, 50]

In [53]:
result = [i for i in range(1,10)]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
def cubes(n):
    return n ** 3
lst = [1,2,3,4,5,6]
numbers = [i for i in lst]
[cube(i) for i in numbers]

[1, 8, 27, 64, 125, 216]

In [56]:
 d = {x:x*3 for x in range(1,6)}
print(d)

{1: 3, 2: 6, 3: 9, 4: 12, 5: 15}

In [ ]:
# task
#input : ["my name is sudha.", "i am from vijayawada"]
#output: ['my','name','is','sudha.','i','am','from','vijayawada']