## Variables 
- variable is used to store data
### Rules
- variablename should not be a keyword or any inbuilt function name
- should start with alphabet r underscore followed by alphabet, digits
- no special character is allowed

In [1]:
a = 10

In [2]:
type(a)

int

In [7]:
n1 = n2 = n3 = 10
print(n2)
n3

10

10

In [4]:
n2

10

In [8]:
x,y,z = 1,2,3

In [10]:
x

1

In [13]:
s = "python"
i = 20
i = str(i)
s+i

'python20'

In [16]:
f = 12.45
i1 = float(89)
f+i1

101.45

In [17]:
f =int(f)

In [18]:
f

12

### operators
- used to perform an operation between/among operands
#### Types of operators
- Arithmetic operators
    - +,-,*,/,%,//,**
- assignment operators
    - +=,-=,*=,%=,/=,//=,**=,=
- comparision operators
    - <,>,<=,>=,==,!=
- bitwise 
    - &,|,^,~
- logical
    - and,or, not
- identity 
    - is,is not
- membership
    - in, not in

In [20]:
5//2 # integer/floor division

2

In [21]:
3 ** 4

81

In [22]:
a = 3
b=5
a = a+b # a+=b ---- a+b -> a

In [24]:
a-=b

In [25]:
a

3

In [26]:
print(a<b)
print(a==b)

True
False

In [27]:
a & b

1

In [29]:
(a<b)  & (a!=b)

True

In [30]:
a | b

7

In [31]:
a^b

6

In [32]:
~a # -(a+1)

-4

In [33]:
(a<b)  and (a!=b)

True

In [34]:
not(a)

False

In [35]:
z=0
not(z)

True

In [36]:
a is b

False

In [37]:
a is not b

True

In [38]:
k = 20
j =20
k is j

True

In [41]:
s="online"
'e' in s

True

In [42]:
'p' in s

False

In [43]:
'p' not in s

True

In [44]:
d = input("enter a value")
d

enter a value5678

'5678'

In [58]:
d1 = int(input("enter"))
d1

enter34

34

In [46]:
s1 = input("enter string")
s1

enter stringpython

'python'

In [47]:
a,b = input("enter"),input("enter")

enter67
enter89

In [48]:
a

'67'

In [49]:
b

'89'

In [59]:
f = float(input('enter a vlue'))

enter a vlue89

In [60]:
f

89.0

## conditional statement
- Decision making is depending on the condition whether the condition is satisfied or not
- if
- if else
- elif
- nested if

In [ ]:
# if else syntax
if condition:
    statements
else:
    statements

In [ ]:
# elif syntax
if condition:
    statements
elif condition:
    statements
else:
    statements

In [66]:
n = int(input("enter a value"))
if n>0:
    print(n,"positive number")
elif n==0:
    print(n,"equal to zero")
else:
    print(n,"negative number")

enter a value0
0 equal to zero

In [68]:
s="training"
print(s+"batch")

trainingbatch

In [ ]:
uname = "apssdc"
pwd = "12344"
username=
password = 
# welcome apssdc
# invalid username or password

In [ ]:
# find the largest value among three values
# print("1.add 2.sub3.mul4.div")