In [ ]:
# pascal's triangle
# factorial

### List
- collection of ordered elements of multiple data types
- represented by brackets and elements are comma seperated values
- mutable

In [12]:
s="sample string"
s.capitalize()

'Sample string'

In [13]:
s

'sample string'

In [14]:
# [] - brackets
# ()- paranthesis
# {} - braces

#### operations on list
##### concatenation
##### replication
##### membership test

In [15]:
k = []

In [16]:
type(k)

list

In [17]:
k = [1,2,3]
k

[1, 2, 3]

In [19]:
j = ["python",12.57,89]
h = k+j # concatenation
h

[1, 2, 3, 'python', 12.57, 89]

In [20]:
k * 2 # replication

[1, 2, 3, 1, 2, 3]

In [21]:
k

[1, 2, 3]

In [22]:
4 in k # membership test

False

In [23]:
3 in k

True

In [24]:
5 not in k

True

In [25]:
k

[1, 2, 3]

In [26]:
# forward indexing - 0 to len(k)-1
# backward indexing - -1

In [27]:
k[1]

2

In [28]:
k[-2]

2

In [29]:
k = [1,2,3,"list",12.67,89]

In [30]:
k[3:5]

['list', 12.67]

In [31]:
k[-2:-4]

[]

In [32]:
k[-4:-2]

[3, 'list']

In [33]:
dir(k)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [34]:
g = [1,"strings",78.45,56]
g

[1, 'strings', 78.45, 56]

In [35]:
g.append(67)

In [36]:
g

[1, 'strings', 78.45, 56, 67]

In [37]:
g.append([1,2,4])

In [38]:
g

[1, 'strings', 78.45, 56, 67, [1, 2, 4]]

In [39]:
g[-1]

[1, 2, 4]

In [41]:
g[-1][2]

4

In [42]:
g[-1].append(5)

In [43]:
g

[1, 'strings', 78.45, 56, 67, [1, 2, 4, 5]]

In [44]:
g.extend("a")

In [45]:
g

[1, 'strings', 78.45, 56, 67, [1, 2, 4, 5], 'a']

In [46]:
j = ["apple","b","c"]
g.extend(j)

In [47]:
g

[1, 'strings', 78.45, 56, 67, [1, 2, 4, 5], 'a', 'apple', 'b', 'c']

In [48]:
g.insert(2,987)

In [49]:
g

[1, 'strings', 987, 78.45, 56, 67, [1, 2, 4, 5], 'a', 'apple', 'b', 'c']

In [50]:
len(g)

11

In [51]:
g.insert(11,78)

In [52]:
g

[1, 'strings', 987, 78.45, 56, 67, [1, 2, 4, 5], 'a', 'apple', 'b', 'c', 78]

In [53]:
g.index(67)

5

In [55]:
g[6].insert(2,3)

In [56]:
g

[1, 'strings', 987, 78.45, 56, 67, [1, 2, 3, 4, 5], 'a', 'apple', 'b', 'c', 78]

In [58]:
c = [1,2,3,1,3,1,3,2]
c.count(1)

3

In [59]:
c.index(3)

2

In [63]:
g.pop(2) # pop(index)  - default will be -1

987

In [64]:
g

[1, 'strings', 78.45, 56, 67, [1, 2, 3, 4, 5], 'a', 'apple', 'b']

In [65]:
g.remove('a') # remove(element)

In [72]:
g

['b', 'apple', [1, 2, 3, 4, 5], 67, 56, 78.45, 'strings', 1]

In [73]:
g[::-1]

[1, 'strings', 78.45, 56, 67, [1, 2, 3, 4, 5], 'apple', 'b']

In [74]:
g

['b', 'apple', [1, 2, 3, 4, 5], 67, 56, 78.45, 'strings', 1]

In [75]:
g.reverse()

In [76]:
g

[1, 'strings', 78.45, 56, 67, [1, 2, 3, 4, 5], 'apple', 'b']

In [77]:
g.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [78]:
s = [45,7,1,789,12,0]
s.sort()

In [79]:
s

[0, 1, 7, 12, 45, 789]

In [81]:
s.sort(reverse=True)
s

[789, 45, 12, 7, 1, 0]

In [82]:
a =s.copy()
a

[789, 45, 12, 7, 1, 0]

In [83]:
a.clear()

In [84]:
a

[]

In [85]:
s

[789, 45, 12, 7, 1, 0]

In [86]:
d = g
d

[1, 'strings', 78.45, 56, 67, [1, 2, 3, 4, 5], 'apple', 'b']

In [87]:
d.clear()
d

[]

In [88]:
g

[]

In [89]:
s

[789, 45, 12, 7, 1, 0]

In [90]:
s[-1]= "k"
s

[789, 45, 12, 7, 1, 'k']

In [93]:
del s

In [94]:
s

NameError: name 's' is not defined

In [95]:
a= [1,2,3]
a.insert(1,34.5)

In [97]:
a.insert(-2,"add")

In [98]:
a

[1, 34.5, 'add', 2, 3]

In [105]:
li = input("enter").split()
for i in range(len(li)):
    print(li[i])

enter1 2 3
1
2
3

In [112]:
li1 = input("enter").split()
s=0
for i in li1:
    s = s+int(i)
print(s)

enter1 2 3
6

In [ ]:
# task 1 - parallel list sum
# input1: [10,20,30,40]
# input2: [50,60,70,80]
# output:[60,80,100,120]

# task2 - nth occurence
# input: [1,2,3,1,3,2,3]
# element: 3
# occurence: 2
# output: 4 (index of 2nd occurence of element 3)

# task3
# input: 123 abc 234 67 ghj klm 8
# output: 432 (123 + 234 + 67 + 8)

In [113]:
k = input().split()

123 abc 234 67 ghj klm 8

In [114]:
k

['123', 'abc', '234', '67', 'ghj', 'klm', '8']