## Set
- set is used to store the collection of unique data
- unindexed
- represented as {} and elements are seperated by comma

In [1]:
s = {1,2,3,4}
type(s)

set

In [3]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [4]:
s.add(35)

In [5]:
s

{1, 2, 3, 4, 35}

In [6]:
s.add(12)

In [7]:
s

{1, 2, 3, 4, 12, 35}

In [9]:
t = {}
type(t)

dict

In [10]:
s1 = {"abc","online","python"}
s.update(s1)
s

{1, 12, 2, 3, 35, 4, 'abc', 'online', 'python'}

In [12]:
s.pop()

2

In [13]:
s

{12, 3, 35, 4, 'abc', 'online', 'python'}

In [14]:
s.remove(35)

In [15]:
s

{12, 3, 4, 'abc', 'online', 'python'}

In [16]:
s.discard('abc')

In [17]:
s

{12, 3, 4, 'online', 'python'}

In [18]:
s.clear()

In [19]:
s

set()

In [20]:
s1 = {1,2,3,"ab",98.34}
s2 = {1,3,56,34,"example",78.34}
s1.difference(s2) # removes the common elements in both sets and 
#                    returns the unique elements  from the first set

{2, 98.34, 'ab'}

In [21]:
s1

{1, 2, 3, 98.34, 'ab'}

In [22]:
s1.difference_update(s2)

In [23]:
s1

{2, 98.34, 'ab'}

In [24]:
s1.union(s2)

{1, 2, 3, 34, 56, 78.34, 98.34, 'ab', 'example'}

In [27]:
s1 = {1,2,3,"ab",98.34}
s2 = {1,3,56,34,"example",78.34}
s1.intersection(s2)

{1, 3}

In [29]:
s1.intersection_update(s2)

In [30]:
s1

{1, 3}

In [31]:
s3 = {"green","blue","white"}
s4 = {"apple","pine apple","mango","white"}
s3.symmetric_difference(s4) # returns the set of elements that are present in either one or another set

{'apple', 'blue', 'green', 'mango', 'pine apple'}

In [32]:
s3.symmetric_difference_update(s4)

In [33]:
s3

{'apple', 'blue', 'green', 'mango', 'pine apple'}

In [35]:
k1 = {1,2,3}
k2 = {1,2,3,'a','gh',"l"}
k1.issubset(k2)

True

In [36]:
k2.issuperset(k1)

True

In [39]:
k1.issuperset(k2)

False

In [40]:
s3

{'apple', 'blue', 'green', 'mango', 'pine apple'}

In [41]:
s3.isdisjoint(k1)

True

In [42]:
k1.isdisjoint(k2)

False

In [44]:
k1.remove(1)

In [45]:
k1.discard(3)

In [46]:
k1

{2}

In [48]:
li1 = [10,20,30,40]
li2 = [50,60,70,80]
s=[]
if len(li1)==len(li2):
    for i in range(len(li1)):
        s.append(li1[i]+li2[i])
    print(s)
    
else:
    print("parallel addition not possible")

[60, 80, 100, 120]

In [53]:
t = list(map(int,input("enter").split()))
s = int(input("enter the element to search for its occurence"))
c = 0
for i in t:
    if i == s:
        c+=1
print("occurence of",s,"is", c)

enter1 2 3 3 3 1 2 3 4
enter the element to search for its occurence3
occurence of 3 is 4

In [ ]:
input("enter the occurence value") # 2
print("2nd occurence of element 3 is ")

### Modules and Packages
#### Module
- collection of function(s)
#### Package
- collection of modules

In [54]:
import random
random.randint(1,10)

4

In [55]:
from random import randint
randint(1,30)

19

In [58]:
from random import randrange
randrange(1,24)

3

In [ ]:
#from pacakage import module

#import module
#module.functionname

In [59]:
from math import sqrt as s1
s1(100)

10.0

In [66]:
from math import pi
print(pi)

3.141592653589793

In [70]:
from math import floor,ceil
floor(3.57)
ceil(3.57)

4

In [73]:
round(3.5)

4

In [74]:
round(3.33)

3

In [75]:
round(6.61)

7

In [ ]:
# renamed with format
# from format rollno 
# 90 mins