### comprehensions in python:
    - Comprehensions are in python to provide short and easy way to create new sequences such as like(list,tuple,dictionaries,sets)
    
    * list comprehension
    * tuple comprehension
    * dictionary comprehension
    * set comprehension

## list comprehension:
    - By using list comprehension we can create new list from other iterables.
    -syntax: variable_name = [output_expresion forloop if(condition)]

In [1]:
#1.To print natural numbers in between 1 to 15 using list?
l1 = []
for i in range(1,16):
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [2]:
#2.To print even numbers in between 1 to 15 using list?
l2=[]
for i in range(1,16):
    if i%2==0:
        l2.append(i)
print(l2)

[2, 4, 6, 8, 10, 12, 14]

#### List comprehension exampes:

In [3]:
#1. To print natural numbers in between 1 to 20 using list comprehension?
L1 = [i for i in range(1,21)]
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:
# 2. To print the squares of a natural numbers in between 1 to 10 using LC?
L2 = [i**2 for i in range(1,11)]
L2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
#3.To print prime numbers in between range of 1 to 15 using LC?
def isprime(n):
    count = 0
    for i in range(1,n+1):
        if n%i==0:
            count = count+1
    if count==2:
        return n
L3 = [i for i in range(1,16) if(isprime(i))]
L3

[2, 3, 5, 7, 11, 13]

In [ ]:
n=2=>1,2->prime->count=2
n=3=>1,3->prime->count=2
n=4=>1,2,4->not prime->count=3
n=5=>1,5->prime->count=2
n=6=>1,2,3,6
n=7=>1,7

In [ ]:
# 1. To print even numbers in between range of 1 to 100 using LC?
# 2.To print perfect numbers in between range of 1 to 100 using LC?
#eg: n=6->1+2+3 =>6==6->It is perfect number.

### tuple comprehension:
    -By using tuple comprehension we can create new tuple from other iterables.
    - syntax: variable_name = tuple(output_expression forloop if(condition))

In [6]:
# To print odd_numbers in between range of 1 to 20 using tuple comprehension?
t1 =tuple(i for i in range(1,21) if i%2!=0)
t1

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

### dictionary comprehension:
    - by dictionary comprehension we can create new dictionary from other iterables.
    - syntax: variable_name = {key:value forloop if(condition)}

In [10]:
# To print squares of a numbers in between range of 1 to 10 using dictionary formatt?
### output:{1:1,2:4,3:9,4:16...}
# d={}
# for i in range(1,11):
#     d[i]=i**2
# print(d)  
d ={i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [13]:
L3 =['apple','banana','mango']
#using above list to print length of given word using DC?
#output:{apple:5,banana:6,mango:5}
d2={i:len(i) for i in L3}
d2

{'apple': 5, 'banana': 6, 'mango': 5}

In [14]:
d3 ={i:i.title() for i in L3}
d3

{'apple': 'Apple', 'banana': 'Banana', 'mango': 'Mango'}

In [ ]:
#1. create dictionary to find the characater frequencey in given string?
'''input: s=python programmming
   output:d={p:2,y:1,t:1....}
'''
#2.d={'raju':38,'ravi':45,'ramu':36,'lokesh':55} only print even values item in above dictionary?
#3.using LC to print only characters in given string?
'''
    input: s="pythonprogramming@12344apssdc_ "
    output:['p','y','t'.....]
'''

### set comprehension:
    - syntax: variable_name ={output_expression forloop condition}

In [15]:
L3 =[10,20,30,10,20,55,10,23]
#output: L3=[10,20,30,55,23]
L2 = []
for i in L3:
    if i not in L2:
        L2.append(i)
print(L2)

[10, 20, 30, 55, 23]

In [20]:
s1={i for i in L3}
print(s1)

{10, 20, 55, 23, 30}

In [18]:
s1="apssdc112344"
s2={i for i in s1}
s2

{'1', '2', '3', '4', 'a', 'c', 'd', 'p', 's'}

### lambda:
    - by using lambda keyword we can create a function.
    - with out writing def and functionname.
    - It is anynomous function in a single line.
    - syntax: varible_name = lambda arguments:expression
              variable_name(arguments)

In [21]:
# to find addition of two numbers.
def addition(a,b):
    return a+b
print(addition(10,23))

33

In [22]:
# to find addition of two numbers using lambda?
add = lambda a,b:a+b
add(23,45)

68

In [23]:
# to print odd numbers using lambda?
b = lambda x:x%2!=0
k =[i for i in range(1,13) if(b(i))]
k

[1, 3, 5, 7, 9, 11]

In [25]:
n=int(input("Enter range"))
k=[i for i in range(1,n+1) if(b(i))]
print(k)

Enter range16
[1, 3, 5, 7, 9, 11, 13, 15]

### functional programming:

### iterator:
        - To fetch the one value at a time from function.
        - iter,next
        - syntax: variable_name = iter(iterable)
                    next(variable_name)

In [26]:
L1=[10,20,30,40]
a = iter(L1)
next(a)

10

In [27]:
next(a)

20

In [28]:
next(a)

30

In [29]:
next(a)

40

In [30]:
next(a)

StopIteration:

In [31]:
l2=[i for i in range(1,10) if isprime(i)]
l2

[2, 3, 5, 7]

In [32]:
b = iter(l2)
next(b)

2

In [33]:
next(b)

3

### generator:
        - to generate sequence of numbers from the function using 'yield' keyword in format of list.
        - in function instead of 'return' we can use 'yield'

In [34]:
# to print 1 to 5 natural numbers using function?
def natural(n):
    while n>=1:
        return n
        n=n-1
natural(5)

5

In [37]:
def natural(n):
    n=1
    while n<=5:
        yield n
        n=n+1
list(natural(5))

[1, 2, 3, 4, 5]

### filter:
        - syntax: filter(function_name,sequence)

In [39]:
L3=[10,2,-3,-4,12,-7]
def negative(n):
    return n<0
f1=list(filter(negative,L3))
f1

[-3, -4, -7]

### map:
        - syntax: map(function_name,sequence)

In [41]:
m1 = list(map(lambda n:n+10,f1))
print(f1)
print(m1)

[-3, -4, -7]
[7, 6, 3]

In [42]:
# int a,b;
# print("Enter a and b values");
#scanf("%d%d",&a,&b);
a=int(input("Enter a value"))
b=int(input("Enter b value"))
print(a,b)

Enter a value10
Enter b value20
10 20

In [44]:
a,b,c=map(int,input().split())
print(a,b,c)

10 20 30
10 20 30

### reduce:
    - It returns only single value from the function.
    - reduce(function_name,sequence)
    - from functools import reduce

In [46]:
from functools import reduce
L1=[1,2,3,4]
# to sum of all the list of values...
r1=reduce(lambda x,y:x/y,L1)
r1

0.041666666666666664

In [ ]:
# reduce explanation..........
[1,2,3,4]
x=1,y=2=>1+2=>3
x=3,y=3=>3+3=>6
x=6,y=4=>6+4=>10
10